* {
	margin: 0;
	padding: 0;
	font-family: 'montserrat', sans-serif;
}

.selections {
	width: 100%;
	height: 100%;
	display: flex;
}

.graph {
  position: relative;
	flex: 1 1 65%;
	width: 65%;
	padding: 50px 100px;
	background-color: rgb(255,255, 255);
  height: 100%;
}
.layer1 {
  width: 100%;
  position: static; 
}

.layer2{
  width: 100%;
  position: static; 
}

.detail {
	flex: 1 1 35%;
	width: 35%;
	padding: 50px;
  min-height: 100%;
  background-color: rgba(126, 197, 255, 0.993)
}

.detail h1 {
	color: #212121;

	font-size: 30px;
	font-weight: 900;
}
.detail h2 {
	color: #53565A;
	font-size: 25px;
	font-weight: 700px;
}
.detail h3 {

}
.detail h5{
  color: #53565A;
  font-size: 15px;
  font-weight: 350;
}


.rangeslider{
    width: 75%;
    }
.myslider {
    -webkit-appearance: none;
    background: rgb(57, 105, 207)  ;
    width: 100%;
    height: 13px;
    opacity: 1;
    border-radius: 7px;
   }
.myslider:hover {
    opacity: .8;
}
.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: rgb(0, 0, 0)  ;
    width: 3%;
    height: 25px;
}
.inputbox{
  width: 60%;
  font-family: 'montserrat', sans-serif; 
  height: 35px;
  border: none;
  background: transparent;
  color: #53565A;
	font-size: 20px;
	font-weight: 300;

  
}
.inline-block-child {
  display: inline-block;
}
.chart {
  height: 100%;
  width: 100%;
}
.container_row{
  display: flex;
  position: relative;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color: #53565A;
	font-size: 20px;
	font-weight: 300;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  font-size: 10pt;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}